:root {
  --background-color: #eee6da;
  --primary-color: green;
  --secondary-color: #d1720c;
  --text-color: #28123a;
  --dark-bg-color: #1e1e1e;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  background-color: var(--background-color);
}

header {
  background-image: url("images/bgimage.jpg");
  background-size: cover;
  background-position: center;
  height: 40rem;
  animation: slide-in 2s ease-out forwards;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

nav {
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav h1 {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: underline;
  color: var(--text-color);
  transition: all 0.3s;
}

nav h1:hover {
  color: var(--primary-color);
  transform: scale(1.2);
}

.navlist {
  list-style: none;
  display: flex;
  align-items: center;
}

.navlist li {
  margin-right: 1.4rem;
  transition: all 0.3s;
}

.navlist li a {
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
}

.navlist li:hover {
  text-decoration: underline green;
  transform: scale(1.2);
}

.navlist li a:hover {
  color: var(--primary-color);
}

.header-container {
  margin-top: 7rem;
  text-align: center;
}

.hamburger-menu {
  display: none;
}

.header-container h1 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--dark-bg-color);
}

.header-container h1 em {
  text-decoration: underline;
  color: var(--secondary-color);
}

.header-container p {
  font-size: 3rem;
  font-weight: 600;
  color: var(--dark-bg-color);
}

.header-container button {
  padding: 1rem 2rem;
  border-radius: 6px;
  border: 2px solid var(--dark-bg-color);
  background-color: var(--primary-color);
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  transition: all 0.3s;
  text-decoration: underline;
}

.header-container button:hover {
  color: var(--dark-bg-color);
  background-color: #fff;
  transform: scale(1.2);
}

.why-greenleaf {
  padding: 2rem;
  margin-bottom: 2rem;
}

.section-heading {
  color: var(--primary-color);
  text-decoration: underline;
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

.greenleaf-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.greenleaf-cards .card {
  text-align: center;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid var(--dark-bg-color);
  transition: transform 0.3s ease-in-out;
}

.greenleaf-cards .card img {
  width: 100%;
  background-size: cover;
}

.greenleaf-cards .card h3 {
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 700;
}

.greenleaf-cards .card p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
}

.greenleaf-cards .card:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 2px var(--dark-bg-color);
}

.products {
  padding: 2rem;
  margin-bottom: 2rem;
}

.section-heading {
  color: var(--primary-color);
  text-decoration: underline;
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

.product-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.product-cards .card {
  text-align: center;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid var(--dark-bg-color);
  transition: transform 0.3s ease-in-out;
}

.product-cards .card img {
  width: 100%;
  background-size: cover;
}

.product-cards .card h3 {
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 700;
}

.product-cards .card p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
}

.product-cards .card button {
  padding: 1rem 1.3rem;
  font-size: 1.2rem;
  border-radius: 8px;
  font-weight: 600;
  color: var(--background-color);
  border: 1px solid var(--dark-bg-color);
  background-color: var(--primary-color);
}

.product-cards .card button:hover {
  background-color: var(--primary-color-hover);
  color: var(--dark-bg-color);
}

.product-cards .card:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 2px var(--dark-bg-color);
}

.contact {
  padding: 2rem;
}

.contact-container {
  text-align: center;
}

.contact-container h3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.contact-container p {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
}

.input-container input {
  padding: 1rem;
  border-radius: 8px 0 0 8px;
  border: 1px solid var(--text-color);
  width: 30%;
  color: var(--text-color);
  font-size: 0.9rem;
  background-color: #dcdcdc;
}

.input-container button {
  padding: 0.98rem 2rem;
  border-radius: 0 8px 8px 0;
  border: 2px solid var(--text-color);
  color: var(--background-color);
  font-weight: 600;
  font-size: 0.9rem;
  background-color: var(--primary-color);
  margin-left: -0.3rem;
  transition: all 0.3s;
}

.input-container button:hover {
  background-color: var(--background-color);
  color: var(--text-color);
  transform: scale(1.1);
}

footer {
  padding: 1rem 2rem;
  background-color: var(--dark-bg-color);
  color: var(--background-color);
  text-align: center;
}

footer h3 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-color);
}

footer p {
  font-size: 1.2rem;
}

footer p strong {
  color: var(--primary-color);
}

::selection {
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #c2c2c2;
}

::-webkit-scrollbar-thumb {
  background-color: #6c6c6c;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}

@media (max-width: 1024px) {
  .header-container h1 {
    font-size: 3.5rem;
  }
  .header-container p {
    font-size: 2.5rem;
  }
}

@media (max-width: 888px) {
  .header-container h1 {
    font-size: 3.2rem;
  }
  .header-container p {
    font-size: 2.2rem;
  }
  .greenleaf-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .greenleaf-cards .card:hover {
    transform: scale(1.04);
  }
  .product-cards .card:hover {
    transform: scale(1.04);
  }
}

@media (max-width: 768px) {
  .navlist {
    display: none;
  }
  .navlist li a {
    white-space: nowrap;
    font-size: 0.8rem;
  }
  .hamburger-menu {
    display: block;
    margin-left: auto;
    margin-right: 1rem;
    margin-top: 1rem;
  }
  .header-container h1 {
    font-size: 3.1rem;
  }
  .header-container p {
    font-size: 2.1rem;
  }
  .greenleaf-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .product-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .greenleaf-cards .card:hover {
    transform: scale(1.04);
  }
  .product-cards .card:hover {
    transform: scale(1.04);
  }
}
